/node_modules
/.idea/.gitignore
/.idea/lotto-evm.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/lotto_evm/draw/pink/.env
/raffle_draw/lotto_draw_wasm/Cargo.lock
/raffle_draw/lotto_draw_wasm/.env
/raffle_draw/lotto_draw_multichain/Cargo.lock
/raffle_draw/lotto_draw_evm/Cargo.lock
/lotto_evm/draw/pink/.env
/raffle_registration_manager/ink/Cargo.lock
/raffle_registration_manager/ink/target/
/raffle_draw/lotto_draw_evm/target/
/lotto_multichain/ink/Cargo.lock
/lotto_evm/consumer/evm/node_modules/
/lotto_evm/consumer/evm/ignition/deployments/
/lotto_evm/consumer/evm/coverage/
/lotto_evm/consumer/evm/cache/
/lotto_evm/consumer/evm/typechain-types/
/lotto_evm/consumer/evm/coverage.json
/lotto_evm/consumer/evm/package-lock.json
/lotto_evm/draw/pink/Cargo.lock
/lotto_multichain/evm/ignition/deployments/
/lotto_multichain/evm/coverage/
/lotto_multichain/evm/cache/
/lotto_multichain/evm/coverage.json
/lotto_multichain/evm/package-lock.json
