/cli/.env
/cli/.secret-testnet-evm
/cli/.secret-testnet-wasm
/cli/node_modules
/cli/package-lock.json
/evm/node_modules
/evm/package-lock.json
/evm/ignition/deployments/
/evm/coverage/
/evm/cache/
/evm/coverage.json
/ink/target/
/ink/Cargo.lock
/pink/target/
/pink/Cargo.lock
/pink/contract/.env
/.idea/.gitignore
/.idea/lotto-multichain-contracts.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
